@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  html.dark {
    color-scheme: dark;
  }
  .dark-hover:hover {
    background-color: #2a004a;
  }
  .font-ovo {
    font-family: "Ovo", serif;
  }
}
@layer utilities {
  .light-hover:hover {
    background-color: #fae8ff;
  }
  .dark-hover:hover {
    background-color: #2a004a;
  }
  /*
    dark:bg-[#2a004a] darkHover
    darkThemeL #11001F
  */
}
